
.access
    left        -999em
    position    absolute
    top         -999em

.notification-loading
    background  0 0 url( 'images/ajax-loader.gif') no-repeat
    height      32px
    left        50%
    margin      0 0 0 -16px
    position    absolute
    top         30%
    width       32px
