
h2 Introduction
p The Flexbox Layout aims to provides a more efficient way to lay out, align and distribute space among items in a container, even when their size is unknown and / or dynamic.
p The main idea behind the flex layout is to give the container the ability to alter its items' width/height (and order) to best fill the available space this is mostly to accommodate to all kind of display devices and screen sizes.
p Most importantly, the flexbox layout is direction-agnostic as opposed to the regular layouts ( block which is vertically-based and inline which is horizontally-based )..
p Flexbox layout is most appropriate to the components of an application, and small-scale layouts, while the Grid layout is intended for larger scale layouts.
