h2 Additional resources
ul
    li
        a( href='http://www.w3.org/TR/css3-flexbox/' ) Flexbox in the CSS specifications
    li
        a( href='https://developer.mozilla.org/en-US/docs/CSS/Tutorials/Using_CSS_flexible_boxes' ) Flexbox at MDN
    li
        a( href='http://dev.opera.com/articles/view/flexbox-basics/' ) Flexbox at Opera
    li
        a( href='http://weblog.bocoup.com/dive-into-flexbox/' ) Diving into Flexbox by Bocoup
    li
        a( href='http://css-tricks.com/using-flexbox/' ) Mixing syntaxes for best browser support on CSS-Tricks
    li
        a( href='http://bennettfeely.com/flexplorer/' ) Flexplorer by Bennett Feely
    li
        a( href='https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/grid' ) Grid layout
